In [28]:
import pandas as pd
import numpy as np

In [29]:
netflix_df = pd.read_csv('netflix_data.csv')
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,1,A genetics professor experiments with a treatm...,International TV

##  Qual foi a duração de filme mais frequente na década de 1990? Salve uma resposta aproximada como um número inteiro chamado duração (use 1990 como o ano de início da década).

In [30]:
# Nessa primeira parte criei um DataFrame auxiliar para receber os dados que passarem nos filtros:
# O tipo ser 'Movie', e o 'release_year' estar entre 1990 e 1999 (década de 90)
df_aux = netflix_df[
    (netflix_df['type'] == 'Movie') &
    (netflix_df['release_year'] >= 1990) &
    (netflix_df['release_year'] < 2000)]

# Nessa parte vou usar a função 'mode()' para encontrar a moda (valor mais frequente) da coluna 'duration'
duration = int(df_aux['duration'].mode()[0])
duration

94

## Um filme é considerado curto se tiver menos de 90 minutos. Conte o número de curtas-metragens de ação lançados na década de 1990 e salve esse número inteiro como 'short_movie_count'.

In [31]:
# Criando um segundo DataFrame auxiliar para receber dados de filmes que sejam do gênero ação ('Action')
df_aux2 = df_aux[df_aux['genre'] == 'Action']

# Criando uma nova coluna para definir 'short_movie' para os filmes com menos de 90 minutos
df_aux2['duration_size'] = np.where(df_aux2['duration'] < 90, "short_movie", "")
df_aux2.head()

/var/folders/z5/6_yjrd5s6qj52133wfwt3sr40000gn/T/ipykernel_13800/3143833153.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aux2['duration_size'] = np.where(df_aux2['duration'] < 90, "short_movie", "")

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,duration_size
352,s508,Movie,Andaz Apna Apna,Rajkumar Santoshi,"Aamir Khan, Salman Khan, Raveena Tandon, Karis...",India,"May 11, 2020",1994,160,Broke and with no concrete plans for the futur...,Action,
431,s628,Movie,Austin Powers: The Spy Who Shagged Me,Jay Roach,"Mike Myers, Heather Graham, Michael York, Robe...",United States,"December 1, 2019",1999,95,When diabolical genius Dr. Evil travels back i...,Action,
468,s688,Movie,Bad Boys,Michael Bay,"Will Smith, Martin Lawrence, Téa Leoni, Tchéky...",United States,"October 1, 2019",1995,119,"In this fast-paced actioner, two Miami narcoti...",Action,
515,s757,Movie,Barsaat,Rajkumar Santoshi,"Twinkle Khanna, Bobby Deol, Danny Denzongpa, R...",India,"April 1, 2018",1995,166,A naïve young man and a rich city girl fall in...,Action,
675,s1003,Movie,Blue Streak,Les Mayfield,"Martin Lawrence, Luke Wilson, Peter Greene, Da...",Germany,"January 1, 2021",1999,94,A jewel thief returns to his hiding place afte...,Action,

In [32]:
# Contando quantos filmes estão com o valor 'short_movie'
short_movie_count = (df_aux2['duration_size']== "short_movie").sum().astype(int)
short_movie_count

np.int64(7)